.item {
    font-size: 16px;
    height: 46px;
    width: 100%;
    padding: 0px 16px;
    background-color: transparent;
    text-align: initial;
    position: relative;
    overflow: hidden;
    outline: none;
}
